body {
  background: linear-gradient(to right bottom, #bc81e4, #954aa8);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

.app {
  min-height: 800px;
  box-shadow: 0 32px 96px rgba(0,0,0,.3);
  background-color: #fff;
  margin: 128px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d7d7d7;
}

.content {
  background-color: #f8f8f8;
  flex: 1;
}


.link {
  padding: 30px;
}
.link:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.link:active {
  background-color: #efefef;
}

.cv {
  display: flex;
}

.card {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 32px 96px rgba(0,0,0,.1);
}

#self {
  align-self: stretch;
}

#career {
  margin-bottom: 30px;
  flex: 1;
}

.panel {
  flex: 1;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

ol {
  list-style-type: none;
}

li {
  display: flex;
}

li:not(:last-child) {
  margin-bottom: 30px;
}

li img {
  width: 100px;
  margin-right: 20px;
  align-self: flex-start;
}

li div {
  display: flex;
  flex-direction: column;
}

#self div:first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon {
  width: 30px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#avatar {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

#download {
  margin: 50px;
  padding: 15px;
  background-color: #bc81e4;
  border: 2px solid #954aa8;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

#download:hover {
  transition: background-color 1s ease;
  background-color: #f2c7fc;
}

#description {
  margin-left: 50px;
  margin-right: 50px;
}

#projects .card{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

#projects-accordion {
  flex: 0 0 100%;
}

#projects-accordion img {
  opacity: 0.7;
}

#projects-accordion img:hover {
  opacity: 1;
}

#projects-accordion-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

}

#projects-accordion-buttons button {
  padding: 20px;
  margin-top: -4px;
  flex: 1;
  background-color: #bc81e4;
  border: 2px solid #954aa8;
  color: #fff;
  cursor: pointer;
}

#projects-accordion-buttons button:hover {
  transition: background-color 1s ease;
  background-color: #f2c7fc;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
  }
  .cv {
    flex-direction: column;
  }
  .panel {
    align-self: stretch;
  }
  #career {
    align-self: stretch;
  }
  li img {
    width: 50px;
  }
  #name {
    font-size: 26px;
    margin-bottom: 10px;
  }
  #projects-accordion-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}